<%= gravatar_for(@user, size: 150) %>
<h1><%= @user.name.capitalize %>'s page!</h1>

<% if current_user != @user %>
  <% if !@are_friends %>
    <% if current_user.request_pending?(@user) %>
      <%= link_to "Request Pending", friend_requests_path %>
    <% elsif current_user.sent_request?(@user) %>
      <% provide(:btn_title, "Delete Request") %>
      <%= render 'friend_requests/form_delete_request' %>
    <% else %>
      <%= render 'friend_requests/form_new_request' %>
    <% end %>
  <% else %>
    <% provide(:btn_title, "Unfriend") %>
    <%= render 'friend_requests/form_delete_request' %>
  <% end %>
<% end %>
