<p>Post by: <%= link_to post.user.name, user_path(post.user.id) %><p>
<p><%= post.content %></p>
<p><%= pluralize(post.likes.count, "Like") %></p>

<% if  !current_user.liked?(post) %>
  <%= render 'likes/form_unlike', object: current_user.like(post) %>
<% else %>
  <%= render 'likes/form_likes', object: post %>
<% end %>

<%= form_for(current_user.comments.build(post_id: post.id)) do |f|%>
  <%= f.text_area :content %><br>
  <%= f.hidden_field :post_id %>
  <%= f.submit "Comment" %>
<% end %>
<br>

<p>Comments</p>
<% post.comments.each do |comment| %>
  <p>Commenter: <%= comment.user.name %>
  <p><%= comment.content %></p>
<% end %>
<br>
