<p>Post by: <%= link_to post.user.name, user_path(post.user.id) %><p>
<p><%= post.content %></p>
<p><%= pluralize(post.likes.count, "Like") %></p>

<% if  current_user.likes.pluck(:post_id).include?(post.id) %>
  <% like = Like.find_by(user_id: current_user.id, post_id: post.id) %>
  <%= form_for(like, url: like_path(like.id), method: :delete) do |f| %>
    <%= f.submit "UnLike" %>
  <% end %>
<% else %>
  <%= form_for(current_user.likes.build(post_id: post.id)) do |f| %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :post_id %>
    <%= f.submit "Like" %>
  <% end %>
<% end %>

<%= form_for(current_user.comments.build(post_id: post.id)) do |f|%>
  <%= f.text_area :content %><br>
  <%= f.hidden_field :post_id %>
  <%= f.submit "Comment" %>
<% end %>
<br>

<p>Comments</p>
<% post.comments.each do |comment| %>
  <p>Commenter: <%= comment.user.name %>
  <p><%= comment.content %></p>
<% end %>
<br>
